/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  color: #333;
}

/* Header styles */


/* Header Styling */
.fixed {
  text-align: center;
  position: fixed; /* Apply fixed position */
  top: 0; /* Position the header at the top */
  width: 100%; /* Take up the full width of the viewport */
  z-index: 999; /* Set a high z-index to ensure it stays on top */
}

h1 {
  font-size: 36px;
  margin: 0;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

/* ... */

.j {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1345;
  padding: 10px;
  color: white;
  height: 50px;
}


.k {
  background-color: #0b1345;
  color: #fff;
  padding: 5px 5px 5px 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/*styling over tips heading */

.nav1 {
  text-align: center;
  margin: 105px 0 0 20px;
  background-color: white;
  color: black;
  width: 88%;
  padding: 20px 0 0 0;
  boshadow: 1px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

/*styling BTTS tips heading */

.nav2 {

  text-align: center;
}

.nav3 {
  text-align: center;
  background-color: #26619C;
  color: white;
  padding: 15px;
  margin: 0 20px;
  line-height: 0.5;
  
}

/*betting strategy page*/

.bettingT {
  margin: 10px;
}

.bettingU {
  text-align: center;
  font-size: 14px;
}


h2 {
  font-size: 18px;
  margin: 0;
}

main {
  padding: 40px;
}

section {
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  margin: 10px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}


button:hover {
  background-color: #ff7f40;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 35px;
  }

  header h2 {
    font-size: 16px;
  }

  main {
    padding: 20px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  footer {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  header h1 {
    font-size: 35px;
    text-align: center;
  }

  header h2 {
    font-size: 14px;
  }

  main {
    padding: 10px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  footer {
    padding: 5px;
  }
}


.site-footer {
  background-color: #0b1345;
  color: #fff;
  padding: 30px 0;
  font-size: 14px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.social-link {
  color: #fff;
  text-decoration: none;
  margin: 20px;
  font-size: 20px;
}

.social-link:hover {
  color: #00aced;
}

.legal-info {
  margin: 20px 1px;
}

.footer-link:last-child {
  margin-right: 0;
}

.copyright {
  margin-top: 20px;
}


/* styling for links */

/* Modern Link Styles */
a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

.a {
  color: white;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}



.a:hover {
  color: #ff6600;
}

.a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ff6600;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}



/* styling the second subheader section*/

#section-header {
  background-color: #EBF7FD;
  color: #000;
  padding: 10px 0 10px 15px;
  margin: 0;
}

#section-header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#section-header ul li {
  flex: 1;
}

#section-header ul li a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

#section-header ul a:hover {
  text-decoration: none;
}

#section-header ul li:nth-child(2) a {
  font-size: 24px;
}

/* Media Queries */

/* For screens smaller than 600px */
@media (max-width: 600px) {
  #section-header {
    font-size: 12px;
  }

  #section-header ul li a {
    font-size: 14px;
  }

  #section-header ul li:nth-child(2) a {
    font-size: 20px;
  }
}

/* For screens smaller than 400px */
@media (max-width: 400px) {
  #section-header {
    font-size: 10px;
  }

  #section-header ul li a {
    font-size: 12px;
  }

  #section-header ul li:nth-child(2) a {
    font-size: 18px;
    margin-right: 2px;
  }
}


/* styling the predictions section*/

.sectionn {
  margin: 20px;
}

.match-container {
  border: 1px solid #ccc;
  padding: 10px 10px 10px 15px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.2);
  width: 70%;
  color: red;
}


.match-title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.prediction {
  font-size: 12px;
}


/* Additional styling for a modern and standard look */

.match-container {
  background-color: #f5f5f5;
  border-radius: 5px;
}

.match-title {
  color: #333;
}

.prediction {
  color: #777;
}


/*styling  the hamburger drop-down menu */
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 999;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: transform 0.3s, opacity 0.3s;
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 998;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;

}

.menu.active {
  display: block;
  opacity: 1;
}

.menu ul {
  margin-top: 100px;
  list-style-type: none;
}

.menu ul li {
  margin-bottom: 20px;
}

.menu ul li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}


.menu-icon i {
  font-size: 26px;
  /* Adjust the icon size as desired */
}

/* ... */


/* media query for desktop*/


@media screen and (min-width: 1024px) {
  header {
    padding: 40px;
  }


  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 24px;
  }

  .trans {
    padding: 60px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }

  footer {
    padding: 40px;
  }
}



.beslips-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: 4px 10px 20px 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}



.h2 {
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
  
}

.matches-grid {
  display: grid;
  gap: 10px;
}

.matches-grid li {
  display: flex;
  align-items: ;
  padding:10px:
}

.matches-grid li span {
  margin-right: 15px;
}

.matches-grid li span:last-child {
  margin-right: 0;
}

.total-odds {
  font-size: 16px;
  color: white;
  background-color: #26619c;
  padding: 3px;
  
}

.beslips-section {
  margin-bottom: 15px;
}

.beslips-section h3 {
  margin-bottom: 5px;
}

/*styling the email sign up*/

.card-container {
  max-width: 90%;
  margin: 10px 0 10px 18px;
  padding-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.card-section {
  padding: 20px 5px;
  color: #fff;
}

.card-section-blue {
  background-color: #26619C;
  color: white;
}

.h22 {
  color: white;
  font-size: 21px;
}

.card-section-white {
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  color: gray;

}

.card-section-white input[type="email"] {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.card-section-white input[type="email"]:focus {
  border-color: #ff4d4f;
  outline: none;
}



.card-section h2 {
  text-align: center;
  margin: 0;
}

.card-section-white form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

.row input[type="checkbox"] {
  margin-right: 5px;
}


.card-section-white .signup-button {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}

.card-section-white .terms-privacy {
  font-size: 12px;
  margin: 10px;

}

/* css for the date input*/
label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  border: none;
  background-color: transparent;
  font-size: 10px;
  font-weight: bold;
}

/*styling for ol and li*/
ol {
  text-align: center;
  padding-left: 0;
 
}

.li {
  text-align: left;
  margin: 0 auto;
  padding-bottom: 10px;
  color: white;
}

.advice{
  padding: 20px;
  font-size: 15px;
  color:color #777777;
}

/*notice on flat staking*/
.notice{
  background-color: #333;
  width: 80%;
  color: white;
  padding: 5px 20px;
  margin-left: 15px;
  line-height: 1.8;
}

/* about body*/
.about{
  padding: 15px;
}

/*style for league names*/

.league{
  margin-left: 50px;
  background-color: red;
  width: 170px;
  padding: 5px 0 5px 5px;
  color: white;
}

/*css for seo section*/
.seo{
  padding: 5px;
  line-height: 2;
}

  
